
body,h1,h2,p,form,label,input,select,table,tr,td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

#special {
    color: rgb(68, 223, 140);
    text-align: center;
    margin-top: 20px;
}

.highlight {
    color: rgb(232, 99, 28);
}