
body,h1,h2,p,form,label,input,select,table,tr,td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9efe6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
}

#special {
    color: rgb(68, 223, 140);
    text-align: center;
    opacity: 0.8;
}

.highlight {
    color: rgb(234, 95, 20);
}

h1 {
color: aqua;
}
 
h2 {
color: purple;
}

#h2Padding {
   padding: 1em;
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
}